<h1>Welcome to Epicodus Low Rider Dealership!</h1>
<h2>Selling your car? Add it to our dealership website!</h2>
<a href="/cars/new">Add your car here</a>
<a href="/cars">See all the cars in our lot</a>