<form action="/cars" method="post">
    <label for="makeModel">Enter your car's make and model</label>
    <input id="makeModel" name="makeModel" type="text">
    <label for="price">Enter your desired sell price</label>
    <input id="price" name="price" type="number">
    <label for="miles">Enter your car's mileage</label>
    <input id="miles" name="miles" type="number">
    <button type="submit">Submit</button>
</form>
<a href="/cars">See all the cars in our lot</a>